<header class="bg-black shadow-lg shadow-cyan-400">
  <div class="container mx-auto px-4 py-2 flex justify-between items-center">
    <button routerLink="/" routerLinkActive="active" class="flex items-center">
      <img src="./img/2.png" alt="Logo" class="h-28" />
      <span class="text-xl font-bold ml-2 text-white">RK3P Developer</span>
    </button>
    <div>
      <button routerLink="/projects" routerLinkActive="active">
        <div id="neonShadow"><span>Go to My Projects</span></div>
      </button>
    </div>
  </div>
</header>
