<div class="container mx-auto px-4 py-8">
  <div class="grid grid-cols-12 gap-4">
    <!-- Empty first two columns -->
    <div class="col-span-2"></div>

    <!-- Middle eight columns -->
    <div class="col-span-8 shadow-md flex items-center">
      <img src="./img/1.png" id="scaling" alt="Example Image" class="h-4/5" />
      <div>
        <img src="./img/3.png" alt="Example Image" class="h-3/5 mt-16" />
      </div>
    </div>

    <!-- Empty last two columns -->
    <div class="col-span-2"></div>
  </div>
</div>
